@model IEnumerable<PieStore.Models.Pie>

<html>
<head>
    <title>Pie Store</title>
</head>
<body>
    @foreach (var pie in Model)
    {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
            <h4>@pie.Category.CategoryName</h4>
        </div>
    }
</body>
</html>