@model HomeViewModel
@{
    ViewData["Title"] = "Pie Store";
}

<partial name="_Carousel" />

<h2>Pies of the week</h2>
<h4>Check out our pies of the week! Get them while supplies last.</h4>

<div class="row">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }

</div>